{% extends 'base.html.twig' %}

{% block title %}Hello RessourcesController!{% endblock %}

{% block body %}

<form>
    <input type="text" name="search" id="search" placeholder="Entrez un mot clé" value="{{search}}" required />
    <input type="submit" value="Rechercher"/>
</form>

{% if articles|length == 0 %}
    <div>Aucun article qui répond au critère "{{search}}" de recherche données</div>
{% endif %}

<div>
    <ul class="list-group">
    {% for article in articles %}
        {% if loop.index % 2 == [0] %}
            <li class="list-group-item list-group-item-secondary"><a href="{{ path('itemRessource', article.id) }}" >{{article.titre}}</a></li>  
        {% else %}
            <li><a href="{{ path('list', article.id) }}" >{{article.titre}}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endblock %}
